https://storage.googleapis.com/jax-releases/cuda11/jaxlib-0.3.14+cuda11.cudnn82-cp38-none-manylinux2014_x86_64.whl
jax[cuda11_cudnn82] -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
dm-haiku
optax
# torch --extra-index-url https://download.pytorch.org/whl/cu114
pytest
matplotlib
